<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header">

</div>

<main class="container">
    <h1>Регистрация</h1>
    <form method="post" th:action="@{/reg}">
        <input type="text" name="username" placeholder="Введите логин">
        <input type="password" name="password" placeholder="Введите пароль">
        <input type="email" name="email" placeholder="Введите email">
        <div th:text="${error}" style="color: red"/>
        <button type="submit">Зарегистрироваться</button>
    </form>
</main>

<div th:replace="layouts/footer :: footer">

</div>

</body>
</html>